<div *ngIf="isLoading">
  <app-spinner [show]="isLoading"></app-spinner>
</div>

<div class="grid grid-cols-1 md:grid-cols-4 gap-6" *ngIf="!isLoading">
  <div class="py-3 shadow-md" *ngFor="let customer of customers">
    <img src="https://i.stack.imgur.com/l60Hf.png" class="" alt="" />
    <div class="p-3">
      <h2>Name: {{ customer.name }}</h2>
      <h2>Age: {{ customer.age }}</h2>
      <h2>Gender: {{ customer.gender }}</h2>
      <p>isaiah</p>
    </div>

    <div class="my-5 px-2">
      <a
        [routerLink]="['/customers/customer/' + customer._id]"
        class="btn mt-10"
      >
        See more
      </a>
    </div>
  </div>
</div>
